* {
  padding: 0;
  margin: 0;
}
.antho {
  display: grid;
  grid-template-rows: 10% 20% 20% 20% 17% 7% 6%;
  grid-template-columns: 5% 8% 22% 25% 25% 5% 10%;
}
.logos-anth {
  grid-area: 2 / 2 / 6 / 2;
  display: flex;
  flex-direction: column;
}
.logos-anth div {
  height: 2rem;
  margin-bottom: 1.5rem;
}
.fab-antho {
  color: #000133;
  cursor: pointer;
  font-size: 1rem;
}
.fab-antho:hover {
  font-size: 1.5rem;
}
.hr-anth {
  height: 40px;
  margin-left: 0.5rem;
  margin-bottom: 6rem;
  margin-top: 3rem;
  border: none;
  background-color: black;
}
.rotate-anth {
  transform: rotate(270deg);
  margin-right: 6rem;
}
.cadre-anth {
  display: grid;
  grid-area: 2 / 3 / 5 / 5;
  background-image: url(images/blanc2.jpg);
  grid-template-rows: 10% 20% 20% 26% 14% 10%;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
}
.text-anth {
  grid-area: 2 / 2 / 5 / 5;
}
.h1-anth {
  margin-left: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  margin-top: 3rem;
}
.text-anth p {
  margin-left: 3rem;
}
.text-anth button {
  margin-left: 3rem;
  width: 13rem;
  height: 3rem;
  cursor: pointer;
  background-color: #94bcc29a;
  color: white;
}
.text-anth button:hover {
  background-color: #4d6d729f;
}
.barre-anth {
  margin-left: 4rem;
  font-size: 1rem;
  color: #94bcc29a;
}
.model-anth {
  grid-area: 2 / 5 / 5 / 7;
}
.resize-anth {
  width: 100%;
  height: 100%;
}
.georgina {
  grid-row-start: 5;
  grid-column-start: 5;
  background: linear-gradient(90deg, #e6f2ff, grey);
}
.georgina p {
  margin-top: 2rem;
}
.georgina h2 {
  margin-left: 6rem;
  font-family: "Montserrat", sans-serif;
}
.georgina .young {
  margin-left: 2rem;
  font-size: 0.7rem;
}
.arrow {
  grid-row-start: 5;
  grid-column-start: 6;
}
.arrow button {
  width: 100%;
  height: 50%;
  cursor: pointer;
  background-image: url(blanc2.jpg);
  border: none;
}
.arrow button:hover {
  background-image: none;
}
.fas {
  font-size: 1rem;
}
.titres-anth {
  display: flex;
  grid-area: 7 / 3 / 8 / 6;
  flex-direction: row;
  justify-content: space-around;
}
.titres-anth div {
  cursor: pointer;
  width: 7rem;
  height: 1.7rem;
}
.titres-anth div:hover {
  border-bottom: 2px solid black;
}
.word:hover {
  font-weight: bold;
}
.word {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.logos-anth2 {
  grid-row-start: 7;
  grid-column-start: 6;
}
.fas2 {
  padding-left: 1rem;
  cursor: pointer;
}
.fa-bars {
  color: lightgray;
}
.antho2 {
  width: 60%;
  margin: 0 auto;
  margin-top: 4rem;
}
.img {
  width: 200px;
  height: 200px;
  max-width: 100%;
}
