* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-title > h1,
.footer-title > h1 {
  font-family: "Playfair Display", serif;
}

.tr-square {
  position: absolute;
  background: #94bcc29a;
  width: 50%;
  height: 24rem;
  right: 0;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.fa-bars {
  font-size: 20px;
}

.header-navbar {
  white-space: nowrap;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-navbar li {
  display: inline;
  text-transform: uppercase;
  padding: 1rem;
}

.header-navbar li:hover,
.fa-envelope:hover {
  color: #6e6e6e;
}

.header-title {
  text-transform: uppercase;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-searchbar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* End header */

/* wrapper */

/* top-page */
.top-page {
  position: relative;
  height: 900px;
  width: 1536px;
  display: flex;
}

.background {
  background: url(../images/about-top.png);
  width: 50%;
  height: inherit;
  left: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.overlay {
  height: 100%;
  display: flex;
  align-items: center;
}

.overlay ul li {
  display: block;
  margin-left: 2rem;
  padding-bottom: 3rem;
}

.bottom-buttons {
  display: flex;
}

.bottom-buttons > button {
  border-radius: 0%;
  padding: 1rem;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 2rem;
}

.button-contactus {
  background: linear-gradient(90deg, #d9e7e7 0%, #94bcc2 100%);
  color: white;
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.content {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content img {
  width: 460px;
  height: 260px;
}

.text {
  width: 100%;
  height: 100%;
  max-width: 60%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text p {
  color: #646464;
  margin-top: 1.5rem;
  line-height: 2rem;
}

.text h2 {
  font-weight: 500;
}

.text h2:first-of-type::first-letter {
  float: left;
  font-size: 2.5em;
  margin-top: 0.3rem;
  padding-right: 0.3rem;
}
/* End top-page */

/* carousel */
.carousel {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  display: inline;
  list-style: none;
}

.carousel-menu {
  color: #6e6e6e;
  text-transform: uppercase;
  padding-bottom: 5rem;
}

.carousel-menu ul li {
  padding: 1rem;
}

.underlined {
  color: black;
  font-weight: bolder;
  border-bottom: 2px solid black;
}

.carousel-artist img {
  /* object-fit: none;  */
  object-position: center;
  width: 25rem;
  height: 30rem;
}

.carousel-artist ul {
  display: flex;
  align-items: center;
}

.arrow {
  padding: 2rem;
}

.selected {
  position: relative;
}

.fondu {
  position: absolute;
  background: black;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 400px;
  height: 480px;
}

.description {
  position: absolute;
  bottom: 3rem;
  color: white;
  text-align: center;
  width: 100%;
}

.tr-arrow {
  position: absolute;
  right: 0;
  margin: 1.5rem 1.5rem;
  color: white;
  padding: 1.5rem;
  border-radius: 50%;
  background: #94bcc2;
}

/* End carousel */

/* End wrapper */

/* footer */
footer {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
}

.footer-row {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.footer-title {
  text-transform: uppercase;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-newsletter {
  text-transform: uppercase;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-newsletter p {
  margin-right: 1rem;
  font-size: 16px;
}

.footer-vr-container {
  height: 100%;
}

.footer-vr {
  margin-right: 3rem;
  height: 1px;
  background: black;
  border: none;
  height: 100%;
  opacity: 0.2;
}

.fa-envelope {
  font-size: 24px;
}

.footer-hr {
  border: none;
  background: black;
  height: 1px;
  width: 100%;
  margin: 0 auto;
  opacity: 0.1;
}

.footer-copyright {
  font-family: "Rubik", sans-serif;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  opacity: 0.5;
}

.footer-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  list-style: none;
}

.footer-icons ul li {
  margin-right: 1rem;
  display: inline;
}
/* End footer */
